<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woystech.fasdes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.woystech.net.application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/login"/>

        <activity
            android:name=".activities.SignUpFirstStepActivity"
            android:label="@string/contact_delails"/>


        <activity
            android:name=".activities.SignUpSecondStepActivity"
            android:label="@string/complete_info"
            android:parentActivityName=".activities.SignUpFirstStepActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.woystech.fasdes.activities.SignUpFirstStepActivity" />
        </activity>

        <activity android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.ItemActivity"
            android:label="@string/design"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.woystech.fasdes.activities.MainActivity" />
        </activity>

        <activity android:name=".activities.ItemDetailsActivity"
            android:label=""
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.woystech.fasdes.activities.MainActivity" />
        </activity>

        <activity android:name=".activities.NoNetworkActivity"></activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.woystech.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <receiver
            android:name="com.woystech.net.connectivity.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
